<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237283696736-62rsotagjau52fcne5h867jskblg7448.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237283696736-62rsotagjau52fcne5h867jskblg7448</string>
	<key>API_KEY</key>
	<string>AIzaSyBLkIreWh92yRcH4UPx7m_5QsdUsqHDZfw</string>
	<key>GCM_SENDER_ID</key>
	<string>237283696736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.hhp5.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-3fae5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-3fae5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237283696736:ios:35a865b3dfc9559730a305</string>
</dict>
</plist>